<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>nomobank</title>

	<!-- Reset CSS -->
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">

	<!-- Fonts -->
    <link href="../static/css/lato-fonts.css" rel="stylesheet" type="text/css">

	<!-- Custome Stylesheet Component -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Material UI -->
	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body class="white">

<section id="left-section">
	<h1 class="main-logo login-logo">
		<a href="index.html">
			nomobank
			<span class="gray">| Ukrainian Catholic University</span>
		</a>
	</h1>
	<h2>Спробуйте новий веб-банкінг зі зручним інтерфейсом</h2>
	<img src="https://fop.monobank.ua/assets/v0.6.55/img/cat-fop.cb4b3443.svg">
</section>

<section id="right-section">
	<form method="POST">
		<h3>Вхід в особистий кабінет</h3>
		<div class="mdc-form-field bank-input">
			<label class="mdc-text-field mdc-text-field--outlined" id="email">
				<span class="mdc-notched-outline">
					<span class="mdc-notched-outline__leading"></span>
					<span class="mdc-notched-outline__notch">
						<span class="mdc-floating-label" id="my-label-id">Email</span>
					</span>
					<span class="mdc-notched-outline__trailing"></span>
				</span>
				<input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" name="email" value="{{email}}">
			</label>
		</div>
		<div class="mdc-form-field bank-input">
			<label class="mdc-text-field mdc-text-field--outlined" id="pass">
				<span class="mdc-notched-outline">
					<span class="mdc-notched-outline__leading"></span>
					<span class="mdc-notched-outline__notch">
						<span class="mdc-floating-label">Password</span>
					</span>
					<span class="mdc-notched-outline__trailing"></span>
				</span>
				<input type="password" class="mdc-text-field__input" aria-labelledby="pass" value="{{password}}" name="password">
			</label>
		</div>
        <button class="bank-btn black login-btn">
			<span>Продовжити</span>
		</button>
	</form>
</section>


<script type="text/javascript">

mdc.textField.MDCTextField.attachTo(document.querySelector('#email'));
mdc.textField.MDCTextField.attachTo(document.querySelector('#pass'));

</script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/4ca9a98a81.js"> </script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>