# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-zpjg0.eu-central-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=F7WQ3S7VEYFHADP5
sasl.password=hpugHHfwX1jRD1NYuZMiaeOQvhKa3uJtD5cIZoZ64zytBvThUAm5xLzW5wN7e44r

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-1w11j.eu-central-1.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=6SZCZFVGVYAVJCKT:9BE3hOVJry4PeRedyiywsWk0fo7xBglRcmb2/KrAQp4JQY6dy89xX0ljbi6h/eB7

